<div class="header"></div>

<form class="form-horizontal">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-5">
				<a ng-click="goSite('init');"><h1>{{mail_title}}</h1></a>
				<p class="lead">
					<br>
					<a ng-click="goSite('se');"><h3>>> {{mail_title2}}</h3></a>
				</p>
			</div>
			<div class="col-sm-7">
				<h3>{{slogan}}</h3>
				<p class="lead">
					<a href='https://www.linkedin.com/in/doohee323' target='_blank'
						style='font-size: 14pt'>https://www.linkedin.com/in/doohee323</a>
				</p>
				<p class="lead">
					<a href='https://github.com/doohee323' target='_blank'>https://github.com/doohee323</a>
				</p>
				<p class="lead">
					<a href='https://doohee323.blogspot.kr' target='_blank'>https://doohee323.blogspot.kr</a>
				</p>
			</div>
		</div>
	</div>
</form>

<form class="form-horizontal">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-5">
				<h3>DevOps Skill sets</h3>
			</div>
			<div class="col-sm-7">
				<div>• OS/VMs/Platform: AWS, Vagrant, Docker, Linux, Unix</div>
				<div>• Big data: Elasticsearch, Graphite, Apache Storm, Esper,
					Kafka, Zookeeper, Apache Tajo</div>
				<div>• Middleware: Tomcat/Apache, Weblogic, JBOSS, Resin, EAIs
				</div>
				<div>• Storage: Oracle, Mysql, Redis, MongoDB</div>
				<div>• Tools: Jenkins, Maven, Yeoman/Bower/Grunt, git/svn,
					Logstash</div>
			</div>
		</div>
	</div>
</form>

<div>
	<div class="span4 card" ng-repeat="site in sites">
		<form class="form-horizontal" role="form">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-5">
						<h3>{{site.desc}}</h3>
					</div>
					<div class="col-sm-7 text-center" ng-if="site.image != ''">
				  	    <a href="{{site.url}}"><img style="width: 60%;height: auto;" src="{{site.image}}"></a><br>
					</div>
					<div class="col-sm-7">
						<label class="col-sm-12">
							<h4>{{site.name}}</h4>
							<h4>
								<a href="{{site.url}}" target="_blank">{{site.url}}</a>
							</h4>
						</label>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="footer">
	<p>{{updated_dt}}</p>
</div>
